<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/styleIndex.css">
    <script type="module" src="/frontend/static/js/appIndex.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1> FORMULARIO PARA REGISTRO </h1>
        <img src="/frontend/static/images/register.png"> <br> <br> <br>
    </div>
    <div id="form">
        <label> Name </label> <input> <br> <br> <br>
        <label> Identification </label> <input> <br> <br> <br>
        <label> Age </label> <input> <br> <br> <br>
        <button id="btnRegister"> Register </button>  
    </div>
      
</body>
</html>